<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640" />
<title>
<% if options[:filter].length == 0 %>
	TLで集めた顔文字とか<%= records.pager.total %>個<%= records.pager.current_page %>/<%= records.pager.total_pages %>ページ目。
<% else %>
	TLで集めた顔文字とかの中から「<%= h options[:filter] %>」が含まれるもの<%= records.pager.total %>個<%= records.pager.current_page %>/<%= records.pager.total_pages %>ページ目。
<% end %>
</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/html5reset-1.6.1.css" />
<link type="text/css" rel="stylesheet" href="/stylesheets/index.css" />
<link type="text/css" rel="stylesheet" href="/stylesheets/pagination.css" />
</head>
<body>
<header>
<h1>
	<a href="/">
		<% if options[:filter].length == 0 %>
			TLで集めた顔文字とか<%= records.pager.total %>個<%= records.pager.current_page %>/<%= records.pager.total_pages %>ページ目。
		<% else %>
			TLで集めた顔文字とかの中から「<%= h options[:filter] %>」が含まれるもの<%= records.pager.total %>個<%= records.pager.current_page %>/<%= records.pager.total_pages %>ページ目。
		<% end %>
	</a>
</h1>
<p>最終更新日：<%= modified.strftime('%Y-%m-%d %H:%M:%S') %></p>
<form id="filter" action="<%= h request.path %>">
	<input name="filter" type="text" value="<%= h options[:filter] %>" placeholder="使えない文字がありますが察してください。">
	<input type="submit" value="フィルター">
</form>
<ul class="menu">
	<li><a class="readme" target="_blank" href="https://github.com/tatat/kaomoji.html/blob/master/README.md">README</a></li>
	<li><a href="/kaomoji.html">ALL</a></li>
</ul>
</header>
<article id="kaomoji">
<%= _pager = records.pager.to_html(request.fullpath, :next_text => '»', :previous_text => '«') %>
<ul><% records.each do |record| %><li><span class="kaomoji"><%= h(record.text.force_encoding("utf-8")).gsub(/ /, '&nbsp;') %></span></li><% end %></ul>
<%= _pager %>
</article>
</body>
</html>
